<!--
 Copyright 2021 Franklin Siqueira.
 SPDX-License-Identifier: Apache-2.0
-->

<!-- begin bootstrap footer -->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-sm-4 col-md col-sm-4 col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find me</h5>
        <!--headin5_amrc-->
        <p class="mb10">
          Just in case you ever need to get in touch, please, contact me! The
          addresses here will help making your life easier, hopefully.
        </p>
        <p><fa-icon [icon]="faAddressCard"></fa-icon>  | 52 060-410 @ 224</p>
        <p><fa-icon [icon]="faMobile"></fa-icon>  | +55 81 986 99 3715</p>
        <p><fa-icon [icon]="faEnvelope"></fa-icon>  | franklin.cs.design@gmail.com</p>
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Online Courses</h5>

        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li>
            <a href="https://courses.edx.org/dashboard" target="_blank">EDx</a>
          </li>
          <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
          <li>
            <a href="https://www.coursera.com/" target="_blank">Coursera</a>
          </li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Tutorials</h5>

        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="https://codepen.io/" target="_blank">Codepen</a></li>
          <li>
            <a href="https://www.constantcontact.com/index.jsp"
              >Constant Contact</a
            >
          </li>
          <li>
            <a href="https://www.freecodecamp.org/" target="_blank"
              >FreeCodeCamp</a
            >
          </li>
          <li>
            <a href="https://tutorialzine.com/" target="_blank">tutorialzine</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/" target="_blank">w3schools</a>
          </li>
          <!-- <li><a href={% url 'courses:FontTest' %} target="_blank">Test Google Fonts</a></li> -->
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-12 col">
        <!-- <h5 class="headin5_amrc col_white_amrc pt2">Find me @</h5> -->
        <!--headin5_amrc ends here-->
        <!-- <ul class="social-network social-circle"> -->
          <br>
          <ul class="social-network--list">
          <!-- class="social_footer_ul">  -->
          <li>
            <a class="social-icon"
              href="https://www.facebook.com/people/Franklin-Carrilho-Siqueira/1026914384"
              target="_blank"
              ><fa-icon [icon]="faFacebook"></fa-icon></a>
          </li>
          <li>
            <a class="social-icon"
              href="https://www.instagram.com/franklinmcz/"
              target="_blank"
              ><fa-icon [icon]="faInstagram"></fa-icon></a>
          </li>
          <li>
            <a class="social-icon"
              href="https://www.linkedin.com/in/franklin-c-siqueira"
              target="_blank"
              ><fa-icon [icon]="faLinkedin"></fa-icon></a>
          </li>
          <li>
            <a class="social-icon"
              href="https://www.github.com/franklin-siqueira"
              target="_blank"
              ><fa-icon [icon]="faGithub"></fa-icon></a>
          </li>
        </ul>

        <!--footer_ul2_amrc ends here -->
      </div>
    </div>
  </div>

  <div class="container">

    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">
      &copy; Copyright 2021 | Designed by
      <span class="badge badge-secondary">@it.</span>Franklin Siqueira
    </p>

    <!--social_footer_ul ends here-->
  </div>
</footer>
<!-- end footer -->
