<!--
 Copyright 2021 Franklin Siqueira.
 SPDX-License-Identifier: Apache-2.0
-->

<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a mat-button class="companyName" routerLink="/">
    <span>{{ appTitleNav }}</span>
  </a>
  <span class="example-spacer"></span>
  <!-- <div fxShow="true" fxHide.lt-md="true">  -->
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/about-me">About me</a>
    <a mat-button routerLink="/feed">Feed</a>
    <a mat-button routerLink="/message">Contact</a>
  </div>
  <a mat-button class="companyName" routerLink="/"
    ><mat-icon>more_vert</mat-icon></a
  >
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav color="primary" #sidenav fxLayout="column">
    <div fxLayout="column">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about-me">About me</a>
      <a mat-button routerLink="/feed">Feed</a>
      <a mat-button routerLink="/message">Contact</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
