// Copyright 2021 Franklin Siqueira.
// SPDX-License-Identifier: Apache-2.0

:host {
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  ::ng-deep .mat-expansion-indicator:after {
    color: white;
  }
}

.card-container {
  min-width: 450px;
  max-width: 800px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  // min-width: 100%;
  // width: 800px;
  border: 0;
  // background-color: rgb(145, 168, 168);
  padding: 0.25em;
  margin: 0;
}

span {
  padding: 0;
}

.mat-card-title-group--list {
  display: flex;
  align-items: center;
  // justify-content:;
  margin-bottom: 1em;
  padding-top: 0.35em;
  padding-left: 0.55em;
}

/* MatPaginator related */

.mat-paginator {
  display: flexbox;
  align-items: flex-end;
  justify-content: center;
  transform: scale(0.8);
  margin: 0;
  padding: 0;
  height: 1.75rem;

  .mat-paginator-outer-container {
    display: flexbox;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .mat-paginator-container {
    display: flexbox;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .mat-paginator-page-size {
    margin: 0;
    padding: 0;
  }

  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}

.mat-card-sm-image {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  padding: 0.25em;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.search-paginator {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  margin: 0;

  .search-form {
    margin-bottom: 0;
  }
}

/* Expansion | mat-accordion related */

.example-spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel-header-title {
  font-size: 1.5em;
  font-weight: 800;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

// .mat-expansion-panel-header {
//   flex-direction: row-reverse;

//   .mat-content {
//     padding-left: 12px;
//   }
// }

// <mat-panel-title _ngcontent-vwb-c169="" class="mat-expansion-panel-header-title ng-tns-c130-3"> Create a New Post</mat-panel-title>
