<!--
 Copyright 2021 Franklin Siqueira.
 SPDX-License-Identifier: Apache-2.0
-->
<div class="container-feed">
  <div fxLayout="row wrap" fxLayoutGap="1px" fxFlexAlign="space-evenly">
    <!-- <div class="col-sm-4 col-md col-sm-4 col-12 col"> -->
    <!-- // -->
    <div class="flex-container" fxFlex="calc(10px+100px) 2 auto">
      <!-- // -->
      <app-usercard></app-usercard>
      <!-- // -->
    </div>
    <div class="flex-container" fxFlex="calc(10px+100px) 2 auto">
      <app-list></app-list>
    </div>
    <!-- class col-md-8 (form) -->
  </div>
</div>
