<!--
 Copyright 2021 Franklin Siqueira.
 SPDX-License-Identifier: Apache-2.0
-->

<div class="card border-0" style="width: 12rem">
  <div class="d-flex justify-content-center">
    <img
      class="card-img-top rounded-circle w-75"
      src="../../assets/img/atMCO.png"
      alt="Developer's photo"
    />
  </div>
  <div class="card-body">
    <h2 class="card-title mb-2 text-center">Franklin Siqueira</h2>
    <p class="card-text mb-2 mt-2 text-center">WebDev | Freelancer</p>
    <a
      href="https://github.com/franklin-siqueira"
      target="_blank"
      class="btn btn-outline-dark d-flex justify-content-center"
      >GitHub</a
    >
    <hr class="mt-2 mb-2" />
    <h6 class="mb-2 text-monospace text-center">Search by Title</h6>
    <input type="text" class="form-control mb-3 w-100" />
    <button class="btn btn-outline-warning w-100">Search</button>
  </div>
</div>
